{{> navlogout }}

<div>
    <img src="{{this.image}}" alt="">
    <h1>{{this.title}}</h1>
    <h3>Difficulty: {{#each this.level}}<img src="http://localhost:3000/images/spoon-16.png" alt="">{{/each}}</h3>
    <h3>Time: {{this.time}} min</h3>
    <h4>Ingredients: {{#each this.ingredients}}{{this}} {{/each}}</h4>
    <ol>
        {{#each this.description}}
            <li>{{this}}</li>
        {{/each}}
    </ol>
    <p>Source: <i>{{this.source}}</i></p>
</div>