{{> navlogout }}
<section class="detail-container">
    <img src="{{this.image}}" alt="">
    <div class="detail-container-2">
    <h1 class="detail-title">{{this.title}}</h1>
    <div>
        <h3 class="detail-h3">Difficulty: {{#each this.level}}<img src="/images/spoon-16.png" alt="" class="detail-spoon">{{/each}}</h3>
    </div>
    <div>
        <h3 class="detail-h3">Time: {{this.time}} min</h3>
    </div>
    <h4 class="detail-h4">Ingredients: {{#each this.ingredients}}{{this}} {{/each}}</h4>
    <ol>
        {{#each this.description}}
            <li class="detail-instructions">{{this}}</li>
        {{/each}}
    </ol>
    <p class="detail-source">Source: <i>{{this.source}}</i></p>
    </div>
</section>